{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body background="">
{#    <img src="{% static 'images/hand_watch.jpg' %}" class="w3-opacity-max" height="835" width="1920">#}
    <div class="w3-display-middle w3-padding">
    <form method="post" action="{% url 'delete profile' pk=profile.pk %}">
        <p>Are you sure you want to delete {{ object }}?</p>
        {{ form.as_p }}
        {% if profile.user == request.user %}
            <button class="w3-button w3-black w3-round-large"><a href="{% url 'edit profile' pk=profile.pk %}"></a>Delete</button>
        {% endif %}
        {% csrf_token %}
    </form>
    </div>



{% endblock %}